<template>
  <div>
    <el-row>
      <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-bottom:15px" class="primary">
        <el-breadcrumb-item :to="{ path: '/index' }">系统管理</el-breadcrumb-item>
        <el-breadcrumb-item>账户管理</el-breadcrumb-item>
      </el-breadcrumb>
    </el-row>

    <el-row type="flex" justify="space-between" style="margin-bottom:15px;">
      <el-button type="primary" plain  class="el-icon-plus" size="small" @click="New()">新增</el-button>
      <el-button type="info" @click="showSearch = !showSearch" plain size="small">高级<i v-bind:class="{'el-icon-arrow-right':!showSearch,'el-icon-arrow-up':showSearch}" /></el-button>
    </el-row>

    <!--查询表单-->
    <div class="inquireForm" v-show="showSearch">
      <el-form size="small" :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="账号">
          <el-input v-model="formInline.name" placeholder="请输入账号"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary"  @click="search" class="el-icon-search" size="small">查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!--用户表格-->
    <div class="userTable">
      <el-table :data="pageInfo.content" border style="width: 100%" :show-overflow-tooltip="true" ref="multipleTable" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="50"/>
        <el-table-column prop="id" label="#" width="50" align="center" />
        <el-table-column prop="name" label="名称" align="center" />
        <el-table-column prop="account" label="账号" align="center" />
        <el-table-column prop="createTime" label="创建时间" align="center" />
        <el-table-column fixed="right" label="操作" width="220" align="center">
          <template slot-scope="scope">
            <el-button @click="compile(scope.row)" type="primary" size="mini">编辑</el-button>
            <el-button @click="Delete(scope.row)" type="danger" plain size="mini">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--分页-->
      <el-row style="margin-top:15px;" class="filter-container" type="flex" justify="space-between">
        <el-button type="danger" plain size="mini" @click="BatchDelete()">批量删除</el-button>
        <el-pagination @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="pageNumber"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="pageInfo.totalSize" />
      </el-row>

    </div>
    <!--浏览人信息详情-->
    <el-dialog title="账户信息" :visible.sync="dialogFormVisible" width="50%" :close-on-click-modal=false>
      <el-form size="small" :model="form" label-width="110px">
        <el-form-item label="名称：">
          <el-input v-model="form.name" :disabled="form.isDisabled"></el-input>
        </el-form-item>
        <el-form-item label="账号：">
          <el-input v-model="form.account" :disabled="form.isDisabled"></el-input>
        </el-form-item>
        <el-form-item label="密码：">
          <el-input v-model="form.password" :disabled="form.isDisabled"></el-input>
        </el-form-item>
        <el-form-item label="头像：">
          <el-input v-model="form.headPortrait" :disabled="form.isDisabled"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">关 闭</el-button>
        <el-button @click="submit" type="primary">提 交</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>import Pagination from '../common/Pagination'
	export default {
		data() {
      return {
        showSearch:false,
        selectPageSizes: [10, 20, 30, 40],
        pageNumber:1,
				pageSize: 10,
				formInline: {
					name: ''
        },
        multipleSelection:[],
				form: {},
        dialogFormVisible: false,
        isNew:true,
        pageInfo: {
          content:[],
          totalPage: 0,
          totalSize:0,
        }
			}
		},
    created(){
      this.search();
    },
		methods: {
      handleSizeChange(val) {
        this.pageSize = val;
        this.search();
      },
      handleCurrentChange(val) {
        this.pageNumber = val;
        this.search();
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      search() {
        this.$api.get({
          url: 'restful/3.0/subscriber/'+this.pageNumber+'/'+this.pageSize+'?name='+this.formInline.name
        },response => {
            if(response.code){
              this.$message({type:'error',message: response.message});
              return;
            }
            this.pageInfo = response.data;
        });
      },
			New() {
        this.form={};
        this.isNew = true;
				this.dialogFormVisible = true;
			},
			Delete(row) {
				this.callDelete([]=row.id);
      },
      BatchDelete() {
        var length = this.multipleSelection.length;
        var array = [];
        for (let i = 0; i < length; i++) {
          array.push(this.multipleSelection[i].id);
        }
        if(array.length <= 0){
          this.$message({type:'error',message: '请选择批量删除数据'});
          return;
        }
        this.callDelete(array);
      },
      callDelete(ids){
        this.$confirm('是否删除此记录?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
          
          this.$api.delete({
            url: 'restful/3.0/subscriber?ids='+ids
          },response => {
              if(response.code){
                this.$message({type:'error',message: response.message});
                return;
              }
              this.search();
          });

				});
      },
			//编辑
			compile(row) {
				row.isDisabled = false;
        this.isNew = false;
				this.form = row;
				this.dialogFormVisible = true;
			},
			//修改表单提交
			submit() {
        this.dialogFormVisible = false;
        if(this.isNew){
          this.$api.put({
            url: 'restful/3.0/subscriber'
          },{
            name:this.form.name,
            account:this.form.account,
            password:this.form.password,
            headPortrait:this.form.headPortrait
          },response => {
              if(response.code){
                this.$message({type:'error',message: response.message});
                return;
              }
              this.search();
          });

          return;
        }

        this.$api.post({
          url: 'restful/3.0/subscriber/'+this.form.id
        },{
          name:this.form.name,
          account:this.form.account,
          password:this.form.password,
          headPortrait:this.form.headPortrait
        },response => {
            if(response.code){
              this.$message({type:'error',message: response.message});
              return;
            }
            this.search();
        });
			}
		}
	}</script>

<style lang="scss" scoped>
  .article {
    color: #4EA1DB;
    cursor: pointer;
  }
</style>
