<template>
  <div>
    <el-row>
      <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-bottom:15px" class="primary">
        <el-breadcrumb-item :to="{ path: '/index' }">系统管理</el-breadcrumb-item>
        <el-breadcrumb-item>短信发送记录</el-breadcrumb-item>
      </el-breadcrumb>
    </el-row>

    <el-row type="flex" justify="end" style="margin-bottom:15px;">
      <el-button type="info" @click="showSearch = !showSearch" plain size="small">高级<i v-bind:class="{'el-icon-arrow-right':!showSearch,'el-icon-arrow-up':showSearch}" /></el-button>
    </el-row>

    <div class="inquireForm" v-show="showSearch">
      <el-form size="small" :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="姓名">
          <el-input v-model="formInline.name" placeholder="请输入姓名"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="search" class="el-icon-search" size="small">查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="userTable">
      <el-table :data="pageInfo.content" border style="width: 100%" :show-overflow-tooltip="true">
        <el-table-column type="selection" width="50" />
        <el-table-column prop="id" label="#" width="50" align="center" />
        <el-table-column prop="clientIpAddress" label="客户端请求地址" align="center" />
        <el-table-column prop="sendTypeDisplay" label="类型" align="center" />
        <el-table-column prop="content" label="内容" align="center" />
        <el-table-column prop="phone" label="目标手机号码" align="center" />
        <el-table-column prop="sendStatusDisplay" label="发送状态" align="center" />
      </el-table>
      <!--分页-->
      <el-row style="margin-top:15px;" class="filter-container" type="flex" justify="end">
        <el-pagination @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="pageNumber"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="pageInfo.totalSize" />
      </el-row>

    </div>
  </div>
</template>

<script>
import Pagination from '../common/Pagination'
	export default {
		data() {
			return {
					showSearch:false,
					selectPageSizes: [10, 20, 30, 40],
					pageNumber:1,
					pageSize: 10,
					formInline: {
						name: ''
					},
					pageInfo: {
					content:[],
					totalPage: 0,
					totalSize:0,
				}
			}
		},
		created(){
		  this.search();
		},
		methods: {
			handleSizeChange(val) {
        this.pageSize = val;
        this.search();
      },
      handleCurrentChange(val) {
        this.pageNumber = val;
        this.search();
      },
      search() {
        this.$api.get({
          url: 'restful/3.0/sms/send/'+this.pageNumber+'/'+this.pageSize+'?name='+this.formInline.name
        },response => {
            if(response.code){
              this.$message({type:'error',message: response.message});
              return;
            }
            this.pageInfo = response.data;
        });
      }
		}
	}
</script>

<style lang="scss" scoped>
  .article {
    color: #4EA1DB;
    cursor: pointer;
  }
</style>
